In [15]:
import pandas as pd
df=pd.read_csv('spam.csv',encoding='latin-1')

In [16]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [17]:
messages=df[["v1","v2"]]

In [18]:
messages.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [19]:
messages.columns

Index(['v1', 'v2'], dtype='object')

In [20]:
import nltk
import re
nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

In [21]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\laksh\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [22]:
from nltk.corpus import stopwords

In [23]:
from nltk.stem.porter import PorterStemmer

In [24]:
ps=PorterStemmer()

In [26]:
corpus=[]

In [27]:
messages.shape

(5572, 2)

In [28]:
for i in range (0,len(messages)):
    revi=re.sub('[^a-zA-Z]',' ',messages['v2'][i])
    revi=revi.lower()
    revi=revi.split()
    
    revi=[ps.stem(word) for word in revi if not word in stopwords.words('english')]
    revi=' '.join(revi)
    corpus.append(revi)

In [31]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=4700)
X=cv.fit_transform(corpus).toarray()

In [32]:
X.shape

(5572, 4700)

In [33]:
y=pd.get_dummies(messages['v1'])

In [34]:
y.head()

   ham  spam
0    1     0
1    1     0
2    0     1
3    1     0
4    1     0

In [35]:
y.drop('ham',axis=1,inplace=True)

In [36]:
y.head()

   spam
0     0
1     0
2     1
3     0
4     0

In [37]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [38]:
from sklearn.naive_bayes import MultinomialNB

In [41]:
model=MultinomialNB()
model.fit(X_train,y_train)
y_pred=model.predict(X_test)
model.score(X_test,y_test)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.9847533632286996

In [42]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,y_pred)

array([[963,   7],
       [ 10, 135]], dtype=int64)